@font-face {
  font-family: RobotoRegular;
  src: url("./asset/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./asset/Roboto-Bold.ttf");
}

:root {
  --boxSize: 40px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  height: 50px;
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  font-size: larger;
  width: 100vw;
  border-bottom: 2px solid grey;
}
.input {
  display: flex;
  flex-direction: column;
}

input {
  margin: 8px 0px;
}
form,
fieldset {
  margin: 5px;

  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
  width: 100px;
  margin: auto;
}

.output {
  margin: 40px 0px;
  white-space: pre;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* REAL BOARD */
.board {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boardRow {
  height: var(--boxSize);
  display: flex;
}
.boardElement {
  height: var(--boxSize);
  width: var(--boxSize);
  background-color: white;
  border: 1px solid black;
}
.move {
  background-color: lightgrey;
}
.startPos {
  background-color: green;
}

.endPos {
  background-color: red;
}

.moveNumber {
  position: relative;
}
