@font-face {
  font-family: RobotoRegular;
  src: url("./asset/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("./asset/Roboto-Bold.ttf");
}

:root {
  --boxSize: 60px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
}

.header {
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  width: 100vw;
  border-bottom: 2px solid grey;
}
.input {
  display: flex;
  flex-direction: column;
}

.information {
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.information:hover::after {
  content: "Knight Travails shows the shortest possible way to get from one square to another by displaying all squares the knight will stop on along the way.";
  position: absolute;
  top: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  right: 10px;
  width: 300px;
  border: 1px solid black;
}

/* BOARD BODY  */
.instruction {
  text-align: center;
}
/* REAL BOARD */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.boardRow {
  height: var(--boxSize);
  display: flex;
}
.boardElement {
  position: relative;
  height: var(--boxSize);
  width: var(--boxSize);
  background-color: white;
  border: 1px solid black;
}

.knightImg {
  content: url("../src/asset/knight.png");
  height: 60px;
  translate: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.moveNumber {
  position: absolute;
  top: 2px;
  right: 2px;

  height: 15px;
  width: 15px;

  background-color: rgb(255, 238, 0);
  border: 1px solid black;
  border-radius: 50%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
